{% extends "base.html" %}

{% block title %} &ndash; {{ _('Interviewer %(name)s', name=category) }}{% endblock %}

{% block content %}
<article class="single">
  <header>
    <h1>{{ _('Coding Interview Questions from %(name)s', name=category) }} ({{ articles|count }})</h1>
  </header>
  <div>
    <ul>
      {% for article in articles | sort %}
      <li>
        <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</article>
{% endblock %}